.container {
  h3 {
    margin-bottom: 20px;
  }
}
.about {
  background-color: #fff;
  padding: 20px;
  line-height: 24px;
  border-radius: 15px;

  p {
    color: gray;
    margin-bottom: 20px;
  }

  &-img {
    width: 600px;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}